<article>
  <header>
    <div class=title>EDIT PROFILE</div>
    
    <div class="subtitle">Let's update</div>

    <div class="text">
      In this section you can update your personal information.
    </div>
  </header>

  <section class="user-info">
    <div class="avatar">
      <img [src]="profileUser?.avatar" [alt]="profileUser?.name">
    </div>

    <div class="user-data">
      <div class="name">{{ profileUser?.name }} {{ profileUser?.surname }}</div>
      <div class="email">{{ profileUser?.email }}</div>
      <div class="phone">{{ profileUser?.phone }}</div>
    </div>
  </section>

  <section class="update-form">
    <div class="card">
      <div class="card-content">
        <form [formGroup]="updateForm" *ngIf="updateForm">
          <mat-form-field appearance="outline" class="input-headline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" autocomplete="on" />
            <button mat-icon-button matSuffix [attr.aria-label]="'Name'" disabled>
              <mat-icon matSuffix>person</mat-icon>
            </button>
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="input-headline">
            <mat-label>Surname</mat-label>
            <input matInput placeholder="Surname" formControlName="surname" autocomplete="on" />
            <button mat-icon-button matSuffix [attr.aria-label]="'Surname'" disabled>
              <mat-icon matSuffix>person</mat-icon>
            </button>
          </mat-form-field>
        
          <mat-form-field appearance="outline" class="input-headline">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone" formControlName="phone" autocomplete="on" />
            <button mat-icon-button matSuffix [attr.aria-label]="'Phone'" disabled>
              <mat-icon matSuffix>phone</mat-icon>
            </button>
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="input-headline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" autocomplete="on" disable>
            <button mat-icon-button matSuffix [attr.aria-label]="'Password'" disabled>
              <mat-icon>password</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-headline">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password" formControlName="newPwd" autocomplete="on">
            <button mat-icon-button matSuffix [attr.aria-label]="'Confirm Password'">
              <mat-icon>password</mat-icon>
            </button>
          </mat-form-field>
        </form>

        <div class="btn-ctnr">
          <button mat-flat-button class="primary left" (click)="update()" [disabled]="updateForm.invalid && !passwordsAreEqual()" *ngIf="updateForm">
            Update
          </button>

          <button mat-flat-button class="warn" color="warn" (click)="goBack()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </section>
</article>
