<article>
  <header>
    <div class=title>EDIT PROFILE</div>
    
    <div class="subtitle">Let's update</div>

    <div class="text">
      In this section you can update your personal information.
    </div>
  </header>

  <section class="user-info">
    <div class="avatar">
      <img [src]="profileUser?.avatar" [alt]="profileUser?.name">
    </div>

    <div class="user-data">
      <div class="name">{{ profileUser?.name }} {{ profileUser?.surname }}</div>
      <div class="email">{{ profileUser?.email }}</div>
      <div class="phone">{{ profileUser?.phone }}</div>
    </div>
  </section>

  <section class="update-form">
    <div class="card">
      <div class="card-content">
        <app-user-form
          [userForm]=userForm
        ></app-user-form>

        <div class="btn-ctnr">
          <button mat-flat-button class="primary left" (click)="update()" [disabled]="userForm.invalid && !passwordsAreEqual()" *ngIf="userForm">
            Update
          </button>

          <button mat-flat-button class="warn" color="warn" (click)="goBack()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </section>
</article>
