<article>
  <section class="top-ctnr">
    <div class=title>ROLE MANAGER</div>
    
    <div class="subtitle" *ngIf="!hasRole()">Add a role</div>
    <!-- <div class="subtitle" *ngIf="hasRole()">Role list</div> -->
    <div class="subtitle" *ngIf="hasRole()">Let's organize</div>
    
    <div class="text">
      The role manager is where an user can manage his roles. He can create a new one if he doesn't have any, can delete or modify the ones he has and most important can select the one he desire to have active while enjoying the platform features.
    </div>

    <div class="text" *ngIf="!hasRole() && +activeRole === -1">
      You are in the <span class="bold">last step to sign in</span> as <span class="bold">you don't have any role yet</span>. Please <span class="bold">create a band</span> to unlock all platform features.
    </div>
  </section>

  <!-- USER HAS NO ROLE -->
  <section class="has-no-role-ctnr" *ngIf="!hasRole()">
    <div class="card">
      <app-band-form
        [bandForm]=bandForm
        *ngIf="+activeRole === -1"
      ></app-band-form>

      <app-company-form
        [companyForm]=companyForm
        *ngIf="+activeRole === -2"
      ></app-company-form>

      <button mat-flat-button class="primary" *ngIf="+activeRole === -1" (click)="createBand()" [disabled]="bandForm.invalid">
        Create Role
      </button>

      <button mat-flat-button class="primary" *ngIf="+activeRole === -2" (click)="createCompany()" [disabled]="companyForm.invalid">
        Create Role
      </button>
    </div>
  </section>

  <section class="add-role-ctnr" *ngIf="hasRole()">
    <h1>Add a Role</h1>
  </section>
<article>