<article>
  <section class="top-ctnr">
    <div class=title>ROLE MANAGER</div>
    
    <div class="subtitle" *ngIf="!hasRole()">Add a role</div>
    <!-- <div class="subtitle" *ngIf="hasRole()">Role list</div> -->
    <div class="subtitle" *ngIf="hasRole()">Let's organize</div>
    
    <div class="text">
      The role manager is where an user can manage his roles. He can create a new one if he doesn't have any, can delete or modify the ones he has and most important can select the one he desire to have active while enjoying the platform features.
    </div>

    <div class="text" *ngIf="!hasRole()">
      You are in the <span class="bold">last step to sign in</span> as <span class="bold">you don't have any role yet</span>. Please
        <span class="bold">
          create a
          <span *ngIf="+currentUser?.activeRole === -1">band</span>
          <span *ngIf="+currentUser?.activeRole === -2">company</span>
        </span> to unlock all platform features.
    </div>
  </section>

  <!-- USER HAS NO ROLE -->
  <section class="no-role-ctnr" *ngIf="!hasRole()">
    <div class="card">
      <app-band-form
      [bandForm]=bandForm
      *ngIf="+currentUser?.activeRole === -1"
      ></app-band-form>
      
      <app-company-form
      [companyForm]=companyForm
      *ngIf="+currentUser?.activeRole === -2"
      ></app-company-form>
      
      <button mat-flat-button class="primary" *ngIf="+currentUser?.activeRole === -1" (click)="createBand()" [disabled]="bandForm.invalid">
        Create Role
      </button>
      
      <button mat-flat-button class="primary" *ngIf="+currentUser?.activeRole === -2" (click)="createCompany()" [disabled]="companyForm.invalid">
        Create Role
      </button>
    </div>
  </section>
  
  <!-- LIST OF USER ROLES -->
  <section class="roles-list-ctnr" *ngIf="hasRole()">
    <h1>Roles List:</h1>
    
    <span *ngFor="let role of rolesList">
      <span [ngSwitch]="+role?.roleId">
        <p *ngSwitchCase="1" class="role">- This user belongs to <span class="bold">{{ role?.band?.name }}.</span></p>
        <p *ngSwitchCase="2" class="role">- This user belongs to <span class="bold">{{ role?.company?.name }}.</span></p>
        <p *ngSwitchCase="3" class="role">- This user has an <span class="bold">contractor</span> role.</p>
        <p *ngSwitchCase="4" class="role">- This user has an <span class="bold">administrator</span> role.</p>
      </span>
    </span>
  </section>
<article>