$blue: #1976d2;
$red: rgb(221, 0, 49);
$white: #fff;
$dark-gray: #333;

$font1: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font2: Roboto, "Helvetica Neue", sans-serif;

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}