mat-toolbar {
  display: flex;
  justify-content: center;
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1150px;

    .title {
      display: flex;
      justify-content: flex-start;
    }

    .links {
      display: flex;
      justify-content: flex-end;
      font-size: 16px;

      .item {
        margin-left: 25px;
        
        a.active-link {          
          opacity: 0.8;
        }
      }
    }

    .item a {
      color: #fff;
      text-decoration: none;
    }
  }

  
}