@import 'src/styles';

header {
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  position: fixed;
  top: 0;
  
  width: 100vw;
  height: 60px;
  padding: 5px;
  background: #fff;

  .left-ctr {
    flex: .5;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    height: 100%;
    margin-left: 10px;
  }

  .search-ctr {
    position: relative;
    width: fit-content;

    input {
      outline: none;
      background: $lightgray1;
      border: 1px solid $lightgray2;
      padding: 10px 30px;
      border-radius: 20px;

      &::placeholder {
        // padding-left: 20px;
        font-size: 15px;
      }
    }

    /* .search-icon {
      position: absolute;
      top: 6px;
      font-size: x-large;
      left: 10px;
      color: #828890;
    } */
  }

  .middle-ctr {
    flex: .5;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    height: 100%;
    
    border-left: 1px solid $lightgray2;
    border-right: 1px solid $lightgray2;

    .item {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      width: 90%;
      padding: 18px 15px;

      mat-icon {
        color: #65676B;
        font-size: 30px;
      }
      
      &:hover {
        cursor: pointer;
        border-radius: 15px;
        background-color: #F2F2F2;
      }

      &.active {
        position: relative;
  
        &::before {
          content: '';
          border-bottom: 4px solid #1877F2;
          position: absolute;
          bottom: -15px;
          height: 2px;
          width: 100%;
        }
  
        mat-icon {
          color: #1877F2;
        }
      }
    }
  }

  .right-ctr {
    flex: .5;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    height: 100%;
    padding: 15px;

    // wildcard selector
    > * {
      margin-right: 25px;
      cursor: pointer;
    }

    div {
      display: flex;
      align-items: center;

      img {
        width: 35px;
        height: 35px;
      }
      .name {
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
}