<mat-toolbar color="primary">
  
  <div class="container">
    <div class="title">
      <div class="item">
        <a routerLink="/home" routerLinkActive="active-link">Musicnode</a>
      </div>
    </div>

    <div class="links">
      <div class="item">
        <a routerLink="/user/login" routerLinkActive="active-link">Login</a>
      </div>
      <div class="item">
        <a routerLink="/user/signup" routerLinkActive="active-link">Singup</a>
      </div>
    </div>
  </div>
  
</mat-toolbar>
