# dependencies
/backend/node_modules/
/frontend/node_modules/
/.vscode
/frontend/.vscode/
/backend/.vscode/

# folders
/_apps/
/_db/
/_docs/
/_tuto/

# compressed files
*.rar
*.zip

# editor
/.vscode
/.settings