@import 'src/styles';

article {
  padding: 30px 30px 0 30px;
  color: #333;

  @media (max-width: 800px) {
    padding: 30px 10px 10px 10px;
  }

  .header {
    @media (max-width: 800px) {
      margin-bottom: 15px;
    }
    
    .title {
      font-size: 1.25rem;
      font-weight: 500;      
    }

    .subtitle {
      font-size: 2.5rem;
      font-weight: 700;
      color: #eeaa24;

      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
    }
  }

  .band-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .bandForm {
      display: flex;
      flex-direction: row;
      align-items: center;

      width: 400px;
      margin-top: 3px;

      .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;

        #file {
          display: none;
        }

        img {
          margin-right: 30px;
          height: 168px;
          width: 168px;
          border-radius: 50%;
        }
  
        .pointer {
          cursor: pointer;
        }
      }

      .band-data {
        .text {
          font-size: 0.875rem;
          font-weight: 100;
          margin-top: 5px;
        }

        .text-bold {
          font-size: 0.875rem;
          margin-top: 5px;
        }

        button {
          margin-top: 20px;
          width: 100%;
        }
      }
    }

    .btn-ctnr {
      display: flex;
      justify-content: baseline;
      
      width: 400px;
      padding-top: 15px;

      button {
        width: 168px;

        &.mb-20 {
          margin-bottom: 20px;
        }
      }
    }

    .description {
      margin-top: 5px;
    }
  }

  // band-images styles are in styles.scss due to owl carousel behavior

  .musicians {
    margin-top: 30px;
    margin-bottom: 30px;

    h1 {
      margin-bottom: 10px;
      color: #eeaa24;
    }

    ul {
      list-style-type: none;
      
      &.ng-star-inserted {
        margin: 5px 0 0 -25px;
      }
    }
  }
}