<article>
  <section class="header">
    <div class=title>BAND PROFILE</div>
    <div class="subtitle">{{ profileBand?.name }}</div>
  </section>

  <!-- AVATAR -->
  <section class="band-info">
    <!-- if the form is initialized, generate the template -->
    <form [formGroup]="avatarForm" class="band-form" *ngIf="avatarForm">
      <div class="avatar-ctnr">
        <input type="file" id="file" name="file" (change)="onAvatarSelected($event)" *ngIf="isMyBand || isAdmin" />

        <label for="file">
          <img [src]="imageData" [alt]="profileBand?.name" [ngClass]="isMyBand || isAdmin ? 'pointer' : 'normal'">
        </label>
      </div>

      <div class="band-data">
        <div class="text-bold">Contact Info:</div>
        <div class="text">{{ profileBand?.email }}</div>
        <div class="text">{{ profileBand?.users[0]?.email }}</div>
        <div class="text-bold">{{ profileBand?.phone }}</div>

        <div class="btn-ctnr">
          <!-- button type="button" to avoid form submission -->
          <button type="button" mat-flat-button color="warn" class="warn" *ngIf="!isMyBand" (click)="sendMessage(profileBand?.users[0]?.id)">
            Message
          </button>

          <!-- button type="button" to avoid form submission -->
          <button type="button" mat-flat-button color="warn" class="warn" *ngIf="isMyBand" (click)="goToEditProfile()">
            Edit
          </button>

          <div class="separator" *ngIf="!isMyBand && isAdmin"></div>

          <!-- button type="button" to avoid form submission -->
          <button type="button" mat-flat-button color="primary" class="admin" *ngIf="!isMyBand && isAdmin" (click)="goToEditProfile()">
            Edit
          </button>
        </div>
      </div>
    </form>

    <div class="btn-ctnr">
      <button mat-flat-button color="warn" class="warn mb-20" (click)="updateAvatar()" *ngIf="(isMyBand || isAdmin) && this.avatarSelected">
        Update Avatar
      </button>
    </div>

    <div class="description">{{ profileBand?.desc }}</div>
  </section>

  <!-- BAND IMAGES CAROUSEL -->
  <app-carousel
    [data]=imagesList$
  ></app-carousel>

  <section class="carousel-btn-ctnr" *ngIf="isMyBand || isAdmin">
    <input type="file" id="files" name="files" multiple (change)="uploadImages($event)" />

    <label for="files">
      <span class="upload-button">
        <mat-icon>upload</mat-icon>
      </span>
    </label>

    <button mat-fab color="warn" (click)="deleteImages()">
      <mat-icon>delete</mat-icon>
    </button>
  </section>

  <!-- YOUTUBE VIDEO -->
  <section class="band-video">
    <h1>Promotional video:</h1>
    
    <div class="iframe-ctnr">
      <iframe width="560" height="315" [src]="profileBand?.video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen *ngIf="videoIsEmbeded"></iframe>
    </div>
  </section>

  <!-- MUSICIAN LIST -->
  <section class="band-musicians">
    <h1>{{ profileBand?.name }} musicians:</h1>
    
    <ul *ngFor="let musician of profileBand?.users">
      <li>- {{ musician?.name }} {{ musician?.surname }}</li>
    </ul>
  </section>

  <!-- LIST REVIEWS -->
  <section class="band-reviews" *ngIf="reviewsList$.value.length > 0">
    <h1>Reviews:</h1>

    <app-reviews-list
      [data]=reviewsList$
      [isAdmin]=isAdmin
      (delete)="deleteReview($event)"
    ></app-reviews-list>
  </section>

  <div class="separator" *ngIf="isAdmin"></div>

  <!-- CREATE REVIEW -->
  <section class="new-review">
    <h1>Write a Review:</h1>

    <div class="review-ctnr">
      <!-- if the form is initialized, generate the template -->
      <form [formGroup]="reviewForm" *ngIf="reviewForm">
        <mat-form-field appearance="outline">
          <mat-label>Rating</mat-label>
          <mat-select formControlName="rating">
            <mat-option *ngFor="let item of ratingsList" value="{{ item.value }}">{{ item.value }}</mat-option>
          </mat-select>
          <button mat-icon-button matSuffix [attr.aria-label]="'Rating'" disabled>
            <mat-icon>category</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-headline">
          <mat-label>Review</mat-label>
          <textarea matInput placeholder="Write a Review" formControlName="body" rows="3"></textarea>
          <button mat-icon-button matSuffix [attr.aria-label]="'Review'" disabled>
            <mat-icon matSuffix>text_snippet</mat-icon>
          </button>
        </mat-form-field>
      </form>

      <button mat-flat-button color="warn" class="warn" [disabled]="reviewForm.invalid" (click)="createReview()">
        Create Review
      </button>
    </div>
    
  </section>
</article>
