<article>
  <section class="header">
    <div class=title>BAND PROFILE</div>
    <div class="subtitle">{{ profileBand?.name }}</div>
  </section>

  <section class="band-info">
    <!-- if the form is initialized, generate the template -->
    <form [formGroup]="bandForm" class="bandForm" *ngIf="bandForm">
      <div class="avatar">
        <input type="file" id="file" name="file" (change)="onFileSelected($event)" *ngIf="isMyBand" />

        <label for="file">
          <img [src]="imageData" [alt]="profileBand?.name" [ngClass]="isMyBand ? 'pointer' : 'normal'">
        </label>
      </div>

      <div class="band-data">
        <div class="text-bold">Contact Info:</div>
        <div class="text">{{ profileBand?.email }}</div>
        <div class="text">{{ profileBand?.users[0]?.email }}</div>
        <div class="text-bold">{{ profileBand?.phone }}</div>

        <!-- button type="button" to avoid form submission -->
        <button type="button" mat-flat-button color="warn" class="warn" *ngIf="!isMyBand" (click)="sendMessage(profileBand?.users[0]?.id)">
          Message
        </button>
      </div>
    </form>

    <div class="btn-ctnr">
      <button mat-flat-button color="warn" class="warn mb-20" (click)="updateImage()" *ngIf="isMyBand && this.avatarSelected">
        Update Avatar
      </button>
    </div>

    <div class="description">{{ profileBand?.desc }}</div>
  </section>

  <section class="band-images">
    <div class="band-images-ctnr">
      <owl-carousel-o class="owl-carousel-o" [options]="customOptions">
        <ng-template carouselSlide class="slide owl-carousel owl-theme owl-centered" *ngFor="let images of profileBand?.images">
          <img src="{{ images?.image }}" alt="{{ profileBand?.name }}" />
        </ng-template>  
      </owl-carousel-o>
    </div>
  </section>

  <section class="musicians">
    <h1>{{ profileBand?.name }} musicians:</h1>
    
    <ul *ngFor="let musician of profileBand?.users">
      <li>- {{ musician?.name }} {{ musician?.surname }}</li>
    </ul>
  </section>
</article>
