@import 'src/styles';

article {
  padding: 30px 30px 0 30px;
  color: #333;

  @media (max-width: 800px) {
    padding: 30px 10px 10px 10px;
  }

  .header {
    @media (max-width: 800px) {
      margin-bottom: 15px;
    }
    
    .title {
      font-size: 1.25rem;
      font-weight: 500;      
    }

    .subtitle {
      font-size: 2.5rem;
      font-weight: 700;
      color: #eeaa24;

      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
    }
  }

  .band-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .band-form {
      display: flex;
      flex-direction: row;
      align-items: center;

      width: 400px;
      margin-top: 3px;

      .avatar-ctnr {
        display: flex;
        flex-direction: column;
        align-items: center;

        #file {
          display: none;
        }

        img {
          height: 168px;
          width: 168px;
          border-radius: 50%;
          margin-right: 30px;
          object-fit: cover;
          box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
        }
  
        .pointer {
          cursor: pointer;
        }
      }

      .band-data {
        .text {
          font-size: 0.875rem;
          font-weight: 100;
          margin-top: 5px;
        }

        .text-bold {
          font-size: 0.875rem;
          margin-top: 5px;
        }

        .btn-ctnr {
          display: flex;
          flex-direction: column;

          button {
            width: 150px;

            &.admin {
              margin-bottom: 15px;
            }
          }

          .separator {
            margin-top: 10px;
          }
        }
      }
    }

    .btn-ctnr {
      display: flex;
      justify-content: baseline;
      
      width: 400px;
      padding-top: 15px;

      button {
        width: 168px;

        &.mb-20 {
          margin-bottom: 20px;
        }
      }
    }

    .description {
      margin-top: 5px;
    }
  }

  // NOTE: band-carousel styles are in styles.scss due to owl carousel behavior

  .band-carousel-btn-ctnr {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    margin-bottom: -45px;

    #files {
      display: none;
    }

    .upload-button {
      border-radius: 50%;
      background: #eeaa24;
      color: #fff;
      cursor: pointer;
      box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 
                  0px 6px 10px 0px rgb(0 0 0 / 14%), 
                  0px 1px 18px 0px rgb(0 0 0 / 12%);
      
      &:active {
        background: #eeab24c2;
      }
    }

    .upload-button,
    button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;
      margin-top: 10px;
      margin-left: 5px;
    }
  }

  .band-video {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
    
    @media (max-width: 625px) {
      width: 100%;
    }

    h1 {
      margin-top: 32px;
      color: #eeaa24;
    }

    .iframe-ctnr {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      height: 0;
    }

    .iframe-ctnr iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .band-musicians {
    margin-top: 30px;
    margin-bottom: 30px;

    h1 {
      margin-bottom: 10px;
      color: #eeaa24;
    }

    ul {
      list-style-type: none;
      
      &.ng-star-inserted {
        margin: 5px 0 0 -25px;
      }
    }
  }

  .band-reviews {
    h1 {
      color: #eeaa24;
      margin: -8px 0 15px 0;
    }

    .review {
      margin-bottom: 20px;

      .user-ctnr {
        display: flex;
        flex-direction: row;

        .avatar {
          padding: 0;
          img {
            height: 85px;
            width: 85px;
            border-radius: 50%;
            margin-right: 10px;
          }
        }

        .user-info {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .full-name {
            margin: 0 5px;
            font-weight: 500;
          }
          
          .rating {
            margin: 0 0 3px 2px;

            i {
              font-size: 18px;
              color: #eeaa24;
              margin-bottom: 0;
              padding-bottom: 0;
            }
          }

          .date {
            margin: 5px;
            font-size: 12px;
            margin: 0 5px;
          }
        }
      }

      .text {
        p {
          margin: 5px 0px;
        }
      }
    }
  }

  .new-review {
    margin-bottom: 50px;

    h1 {
      color: #eeaa24;
      margin: 25px 0 15px 0;
    }

    .review-ctnr {
      .avatar {
        img {
          height: 65px;
          width: 65px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }

      form {
        display: flex;
        flex-direction: column;

        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
          background-color: white;
          border-radius: 4px;
        }

        mat-form-field {
          width: 100%;
          height: 3.1rem;
          margin-bottom: 20px;
          
          mat-icon {
            color: #bbb;
          }
        }
      }
    }
    
    .warn {
      margin-top: 40px;
      width: 100%;
      padding: 8px;
    }
  }
}