<form [formGroup]="adForm" *ngIf="adForm">
  <mat-form-field appearance="outline" class="input-headline">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" formControlName="title" />
    <mat-icon matSuffix>title</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput placeholder="Price" formControlName="price" />
    <mat-icon matSuffix class="price">euro_symbol</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Location</mat-label>
    <input matInput placeholder="Location" formControlName="location" />
    <mat-icon matSuffix>location_on</mat-icon>
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Description" formControlName="desc" rows="3"></textarea>
    <mat-icon matSuffix class="description">description</mat-icon>
  </mat-form-field>
</form>