<form [formGroup]="signupForm">
  <mat-form-field appearance="outline" class="input-headline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" autocomplete="on" />
    <button mat-icon-button matSuffix [attr.aria-label]="'Name'" disabled>
      <mat-icon matSuffix>person</mat-icon>
    </button>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="input-headline">
    <mat-label>Surname</mat-label>
    <input matInput placeholder="Surname" formControlName="surname" autocomplete="on" />
    <button mat-icon-button matSuffix [attr.aria-label]="'Surname'" disabled>
      <mat-icon matSuffix>person</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-headline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email" autocomplete="on" type="email" />
    <button mat-icon-button matSuffix [attr.aria-label]="'Email'" disabled>
      <mat-icon matSuffix>alternate_email</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-headline">
    <mat-label>Phone</mat-label>
    <input matInput placeholder="Phone" formControlName="phone" autocomplete="on" />
    <button mat-icon-button matSuffix [attr.aria-label]="'Phone'" disabled>
      <mat-icon matSuffix>phone</mat-icon>
    </button>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="input-headline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" formControlName="password" autocomplete="on">
    <button mat-icon-button matSuffix [attr.aria-label]="'Password'" disabled>
      <mat-icon>password</mat-icon>
    </button>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="input-headline role">
    <mat-label>Role</mat-label>
    <mat-select formControlName="roleId" (selectionChange)="setCodeValidator()">
      <mat-option *ngFor="let item of rolesList" value="{{ item.id }}">{{ item.value }}</mat-option>
    </mat-select>
    <button mat-icon-button matSuffix [attr.aria-label]="'Role'" disabled>
      <mat-icon>category</mat-icon>
    </button>
  </mat-form-field>
  
  <!-- +value => parseInt(value) -->
  <mat-form-field appearance="outline" class="input-headline" [ngClass]="+signupForm.value.roleId === 5 ? 'display' : 'hide'">
    <mat-label>Code</mat-label>
    <input matInput placeholder="Code" formControlName="code" autocomplete="on" (keyup)="setCodeValidator()">
    <button mat-icon-button matSuffix [attr.aria-label]="'Code'" disabled>
      <mat-icon>code</mat-icon>
    </button>
  </mat-form-field>
</form>