<article>
  <header>
    <div class=title>EDIT YOUR AD</div>
    
    <div class="subtitle">Let's update</div>

    <div class="text">
      In this section you can edit your ad information and delete or update its images.
    </div>
  </header>

  <app-ad-carousel
    [data]=imagesList$>
  </app-ad-carousel>

  <section class="carousel-btn-ctnr" >
    <input type="file" id="files" name="files" multiple (change)="uploadImages($event)" />
    
    <label for="files">
      <span class="upload-button">
        <mat-icon>upload</mat-icon>
      </span>
    </label>

    <button mat-fab color="warn" (click)="deleteImages()">
      <mat-icon>delete</mat-icon>
    </button>
  </section>

  <section class="ad-form">
    <div class="card">
      <div class="card-content">
        <app-edit-ad-form 
          [adForm]=adForm
        ></app-edit-ad-form>

        <div class="btn-ctnr">
          <button mat-flat-button class="primary left" (click)="updateAd()" [disabled]="adForm.invalid" *ngIf="adForm">
            Update
          </button>

          <button mat-flat-button class="warn" color="warn" (click)="goBack()">
            Return
          </button>
        </div>
      </div>
    </div>
  </section>
</article>
