<article>
  <header>
    <div class=title>EDIT PROFILE</div>
    
    <div class="subtitle">Let's update</div>

    <div class="text">
      In this section you can update your company information.
    </div>
  </header>

  <section class="company-info">
    <div class="avatar">
      <img [src]="profileComp?.avatar" [alt]="profileComp?.name">
    </div>

    <div class="company-data">
      <div class="name">{{ profileComp?.name }}</div>
      <div class="email">{{ profileComp?.email }}</div>
      <div class="phone">{{ profileComp?.phone }}</div>
    </div>
  </section>

  <section class="update-form">
    <div class="card">
      <div class="card-content">
        <app-comp-form
          [companyForm]="companyForm"
        ></app-comp-form>

        <div class="btn-ctnr">
          <button mat-flat-button class="primary left" (click)="update()" [disabled]="companyForm.invalid" *ngIf="companyForm">
            Update
          </button>

          <button mat-flat-button class="warn" color="warn" (click)="goBack()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </section>
</article>
