<article>
  <header>
    <div class=title>EDIT PROFILE</div>
    
    <div class="subtitle">Let's update</div>

    <div class="text">
      In this section you can update your band information.
    </div>
  </header>

  <section class="band-info">
    <div class="avatar">
      <img [src]="profileBand?.avatar" [alt]="profileBand?.name">
    </div>

    <div class="band-data">
      <div class="name">{{ profileBand?.name }}</div>
      <div class="email">{{ profileBand?.email }}</div>
      <div class="phone">{{ profileBand?.phone }}</div>
    </div>
  </section>

  <section class="update-form">
    <div class="card">
      <div class="card-content">
        <app-band-form
          [bandForm]="bandForm"
        ></app-band-form>

        <div class="btn-ctnr">
          <button mat-flat-button class="primary left" (click)="update()" [disabled]="bandForm.invalid" *ngIf="bandForm">
            Update
          </button>

          <button mat-flat-button class="warn" color="warn" (click)="goBack()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </section>
</article>
