<form [formGroup]="companyForm" novalidate>
  <input name="name"    formControlName="name"    autocomplete="on" [ngClass]="checkSignUpError()" placeholder="Name" />
  <input name="phone"   formControlName="phone"   autocomplete="on" [ngClass]="checkSignUpError()" placeholder="Phone" />
  <input name="email"   formControlName="email"   autocomplete="on" [ngClass]="checkSignUpError()" placeholder="Email" />
  <input name="address" formControlName="address" autocomplete="on" [ngClass]="checkSignUpError()" placeholder="Address" />

  <textarea 
    name="desc"
    formControlName="desc"
    autocomplete="on"
    [ngClass]="checkSignUpError()"
    placeholder="Description"
    rows="4" cols="50">
  </textarea>
</form>

