<form [formGroup]="searchForm" novalidate>
  <mat-form-field appearance="outline" class="input-headline name">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" />
    <button mat-icon-button matSuffix [attr.aria-label]="'Name'" disabled>
      <mat-icon matSuffix>person</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-headline surname" *ngIf="+searchForm.value.roleId !== 1 && +searchForm.value.roleId !== 2">
    <mat-label>Surname</mat-label>
    <input matInput placeholder="Surname" formControlName="surname" />
    <button mat-icon-button matSuffix [attr.aria-label]="'Surname'" disabled>
      <mat-icon matSuffix>person</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-headline email" *ngIf="+searchForm.value.roleId === 1 || +searchForm.value.roleId === 2">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email" />
    <button mat-icon-button matSuffix [attr.aria-label]="'Email'" disabled>
      <mat-icon matSuffix>alternate_email</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-headline">
    <mat-label>Role</mat-label>

    <mat-select formControlName="roleId">
      <mat-option *ngFor="let item of roleDDL" value="{{ item.id }}">{{ item.value }}</mat-option>
    </mat-select>
    
    <button mat-icon-button matSuffix [attr.aria-label]="'Role'" disabled>
      <mat-icon>category</mat-icon>
    </button>
  </mat-form-field>
</form>
