<form [formGroup]="signupForm" novalidate>
  <input name="name"     formControlName="name"     placeholder="Name"     [ngClass]="checkSignUpError()" autocomplete="on" />
  <input name="surname"  formControlName="surname"  placeholder="Surname"  [ngClass]="checkSignUpError()" autocomplete="on" />
  <input name="email"    formControlName="email"    placeholder="Email"    [ngClass]="checkSignUpError()" autocomplete="on" />
  <input name="phone"    formControlName="phone"    placeholder="Phone"    [ngClass]="checkSignUpError()" autocomplete="on" />
  <input name="password" formControlName="password" placeholder="Password" [ngClass]="checkSignUpError()" autocomplete="on" type="password" />
  
  <select name="roleId" formControlName="roleId" [ngClass]="checkSignUpError()">
    <option [ngValue]="null" [selected]="true" hidden>Role</option>
    <option *ngFor="let item of rolesList" [ngValue]="item.id">{{ item.value }}</option>
 </select>
</form>