<form [formGroup]="signupForm" class="signup-form" novalidate>
  <h1>Signup</h1>

  <mat-form-field class="input">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter first name" formControlName="name" autocomplete="on" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>Surname</mat-label>
    <input matInput placeholder="Enter last name" formControlName="surname" autocomplete="on" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter email" formControlName="email" autocomplete="on" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>Phone</mat-label>
    <input matInput placeholder="Enter phone" formControlName="phone" autocomplete="on" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter password" formControlName="password" type="password" autocomplete="on" />
  </mat-form-field>
</form>

<!-- <mat-form-field class="input">
    <mat-label>Avatar</mat-label>
    <input matInput placeholder="Enter image" formControlName="avatar" type="url" />
  </mat-form-field> -->

  <!-- <mat-form-field appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">      
      <mat-option value="band">Band</mat-option>
      <mat-option value="company">Company</mat-option>
      <mat-option value="admin">Administrator</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="input" *ngIf="sfc.role.value==='admin'">
    <mat-label>Administrator code</mat-label>
    <input matInput placeholder="Enter administrator code" formControlName="adminCode" type="number" />
  </mat-form-field> -->