@import 'src/styles';

.card {
  display: flex;
  flex-direction: column;

  border: 1px solid #dddfe2;
  border-radius: 4px;

  max-width: 100%;
  padding: 18px 22px;
  margin-bottom: 1.5rem;
  background: #fff;

  .card-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;

    .left {
      img {
        width: 60px;
        border-radius: 50px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;

      .name {
        font-size: 1rem;
        font-weight: 500;
      }

      .date {
        font-size: .75rem;
        font-weight: 100;
        margin-top: 5px;        
      }
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1.3rem;
      font-weight: 500;
      margin: 2px 0 0 0;
    }

    .price-location {
      font-size: .75rem;
      font-weight: 100;
      padding-bottom: 15px;
    }

    .body {
      font-size: .875rem;
      padding-bottom: .1rem;
    }
  }

  .card-carousel {
    margin-top: 8px;
  }

  .btn-cntr {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: 10px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;
      margin-left: 5px;
      box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%);

      mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;

        font-size: 20px;  
      }
    }
  }
}