<div class="card">
  <div class="card-header">
    <div class="left">
      <img src="{{ ad.user.avatar }}" alt="{{ ad.user.name }}">
    </div>
    
    <div class="right">
      <span class="name">{{ ad.user.name }} {{ ad.user.surname }}</span>
      <span class="date">{{ ad.createdAt | date:'dd/MM/yyyy' }}</span>
    </div>
  </div>

  <div class="card-content">
    <h1 class=title>{{ ad.title }}</h1>
    <span class=price-location>{{ ad.price }}€ · {{ ad.location | uppercase}}</span>
    <span class=body>{{ ad.desc }}</span>
  </div>

  <app-ad-carousel
    class="card-carousel"
    [data]=imagesList$>
  </app-ad-carousel>
  
  <div class="btn-cntr">
    <button mat-fab color="warn" class="warn" (click)="sendMessage(ad.user.id)" title="Update">
      <mat-icon>email</mat-icon>
    </button>

    <button mat-fab color="primary" (click)="editAd(ad.id)" title="Update" *ngIf="isMyAd || isAdmin ">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-fab color="warn" (click)="deleteAd(ad.id)" title="Delete" *ngIf="isMyAd || isAdmin ">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>