<div class="card">
  <div class="card-header">
    <div class="left">
      <img src="{{ ad.user.avatar }}" alt="{{ ad.user.name }}">
    </div>
    
    <div class="right">
      <span class="name">{{ ad.user.name }} {{ ad.user.surname }}</span>
      <span class="date">{{ ad.createdAt | date:'dd/MM/yyyy' }}</span>
    </div>
  </div>

  <div class="card-content">
    <span class=title>{{ ad.title }}</span>
    <span class=price-location>{{ ad.price }}€ · {{ ad.location | uppercase}}</span>
    <span class=body>{{ ad.desc }}</span>
  </div>

  <app-carousel
    [data]=imagesList$>
  </app-carousel>
  
  <div class="btn-cntr">
    <button mat-flat-button (click)="deleteAd(ad.id)" color="warn" title="Delete">
      Delete
    </button>
  </div>
</div>