<article>
  <section class="top_ctr">
    <div class="title">
      musicnode
    </div>
    
    <div class="text">
      Professional business drive network for musicians and music events management companies or free market contractors.
    </div>
  </section>

  <section class="bottom_ctr">
    <div class="card">
      <div class="card-content">
        <app-singup-form
          [signupForm]=signupForm
        ></app-singup-form>

        <button mat-flat-button class="primary" (click)="signup()" [disabled]="signupForm.invalid">
          Sign Up
        </button>
      </div>
    </div>

    <p class="tagline">
      <span>Login or create an account to access all the platform features.</span>
    </p>    
  </section>
</article>