<article>
  <section class="top-ctnr">
    <div class=title>MESSENGER</div>
    
    <div class="subtitle">Let's chat</div>

    <div class="text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima quasi odit repellendus. Quis eos sequi distinctio officiis veritatis quo repudiandae. Rerum ea maxime dignissimos a sed, minus nostrum. Eligendi, facere.
    </div>
  </section>

  <section class="bottom-ctnr">
    <div class="users-ctnr" *ngIf="!hideUsersCtnr">
      <div class="user-card" *ngFor="let user of usersList" (click)="selectUser(user.id)">
        <img class="avatar" [src]="user.avatar" [alt]="user.name" />
        <p class="username">{{ user?.name }} {{ user?.surname }}</p>
      </div>
    </div>
  
    <div class="chat-ctnr" *ngIf="!hideChatCtnr">
      <ng-container *ngIf="selectedUser">
        <div class="chat-header">
          <div class="left">
            <img class="avatar" [src]="selectedUser.avatar" [alt]="selectedUser.name" />
            <p class="username">{{ selectedUser?.name }} {{ selectedUser?.surname }}</p>
          </div>

          <div class="right" *ngIf="isMobileView" (click)="showUsersCtnr()">
            <i class="material-icons">keyboard_backspace</i>
          </div>
        </div>
  
        <div class="chat-body">
          <ng-container *ngIf="messagesList.length > 0">
            <div *ngFor="let message of messagesList" [ngClass]="currentUser.id === message.userId ? 'left' : 'rigth'">
              <p class="message-ctnr" [ngClass]="currentUser.id === message.userId ? 'left' : 'rigth'" *ngIf="sanitizeMessage(message.userId)">{{ message?.body }}</p>
            </div>

            <div class="feedback-ctnr" *ngIf="feedback.length>0">
              <p class="feedback">{{ feedback }}</p>
              <img src="assets/gif/loading-dots.gif" alt="">
            </div>
          </ng-container>
        </div>
  
        <div class="chat-footer">
          <input placeholder="Type a message" [(ngModel)]="message" autocomplete="off" (keypress)="sendFeedback()" />
          
          <button mat-flat-button color="warn" class="warn" (click)="sendMessage()">
            Send
          </button>
        </div>
      </ng-container>
    </div>
  </section>
</article>