<article>
  <section class="top-ctnr">
    <div class=title>MESSENGER</div>
    
    <div class="subtitle">Let's chat</div>

    <div class="text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima quasi odit repellendus. Quis eos sequi distinctio officiis veritatis quo repudiandae. Rerum ea maxime dignissimos a sed, minus nostrum. Eligendi, facere.
    </div>
  </section>

  <section class="bottom-ctnr">
    <div class="left-ctnr">
      <div class="user-card" *ngFor="let user of usersList" (click)="selectUser(user.id)">
        <img class="avatar" [src]="user.avatar" [alt]="user.name" />
        <p class="username">{{ user.name }} {{ user.surname }}</p>
      </div>
    </div>
  
    <div class="right-ctnr">
      <ng-container *ngIf="selectedUser">
        <div class="chat-header">
          <img class="avatar" [src]="selectedUser?.avatar" [alt]="selectedUser?.name" />
          <p class="username">{{ selectedUser.name }} {{ selectedUser.surname }}</p>
        </div>
  
        <div class="chat-body">
          <ng-container *ngIf="messagesList.length > 0">
            <div *ngFor="let message of messagesList">
              <p class="message-ctnr">{{ message.body }}</p>
            </div>

            <div id="feedback" *ngIf="feedback?.length>0">
              <p>{{feedback}}</p>
            </div>
          </ng-container>
        </div>
  
        <div class="chat-footer">
          <input id="message" placeholder="Message" [(ngModel)]="message" autocomplete="off" (keypress)="sendFeedback()" />
          <button type="button" id="send" style="cursor: pointer;" (click)="sendMessage()">Send</button>
        </div>
      </ng-container>
    </div>
  </section>
</article>