<article>
  <section class="top-ctnr">
    <div class=title>ROLE MANAGER</div>
    
    <div class="subtitle">Add a role</div>

    <div class="text">
      You dont have any role yet. Please add a role to enjoy the full platform functionality.
    </div>
  </section>

  <section class="no-role-ctnr" *ngIf="!currentUser.hasRole">
    <div class="card">
      <div class="card-content">
        <form [formGroup]="roleForm" novalidate>
          <mat-form-field appearance="outline" class="input-headline role">
            <mat-label>Role</mat-label>
            <mat-select formControlName="roleId" (changeEventChange)="printValue()">
              <mat-option *ngFor="let item of rolesList" value="{{ item.id }}">{{ item.value }}</mat-option>
            </mat-select>
            <button mat-icon-button matSuffix [attr.aria-label]="'Role'" disabled>
              <mat-icon>category</mat-icon>
            </button>
          </mat-form-field>
        </form>

        <app-band-form
          [bandForm]=bandForm
          *ngIf="+roleForm.value.roleId !== 2"
        ></app-band-form>

        <app-company-form
          [companyForm]=companyForm
          *ngIf="+roleForm.value.roleId === 2"
        ></app-company-form>
      </div>
    </div>
  </section>
<article>

  