@import 'src/styles';

.main-ctnr {
  // display: flex;
  // flex-direction: column;
  max-width: 800px;
  margin: auto;
  
  @media (max-width: 950px) {
    margin: auto;
    width: 98%;
  }

  button {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    padding: .4rem;
    margin: .5rem 0 1.5rem 0;
  }
}