mat-toolbar {
  background: #002b5c;
  color: #fff;
}

mat-sidenav-container {
  background: #f5f7fa;
  max-width: 1200px;
  margin: auto;
  
  mat-sidenav {
    background: #002b5c;
    color: #fff;
    width: 200px;
    padding: 16px;
    text-align: center;
    
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    .avatar {
      margin-top: 16px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .user {
      margin: 0;
      margin-top: 8px;
      font-weight: normal;
    }
  
    .role {        
      color: lightgrey;
    }
  
    mat-divider {
      background: rgba(255, 255, 255, 0.5);
      margin-top: 16px;
      margin-bottom: 16px;
    }
    
    .menu-button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 1rem;

      mat-icon {
        margin-right: 10px;
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  mat-sidenav-content {
    .content {
      height: calc(100vh - 64px);
      padding: 20px;
      border-right: 1px solid #ccc;
    }
  }
}