<mat-toolbar>
  <div class="toolbar-ctnr">
    <div class="title-ctnr">
      <button mat-icon-button *ngIf="sidenav.mode==='over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>
      
      <div class="title">
        <!-- <img class="logo" src="assets/img/logo.png" /> -->
        <div>Musicnode</div>
      </div>
    </div>

    <div class="links-ctnr">
      <div class="link" routerLink="/user/login" *ngIf="!isLogged">Login</div>
      <div class="link" routerLink="/user/signup" *ngIf="!isLogged">Signup</div>
      <div class="link" *ngIf="isLogged" (click)="authService.logout()">Logout</div>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <span>
      <img class="avatar mat-elevation-z8" src="assets/img/user.png" *ngIf="!isLogged"/>
      <img class="avatar mat-elevation-z8" src="{{ currentUser?.avatar }}" *ngIf="isLogged" />
      
      <div [ngSwitch]="isLogged">
        <h4 class="user" *ngSwitchCase="false">Guest</h4>
        <h4 class="user" *ngSwitchCase="true">{{ currentUser?.name }} {{ currentUser?.surname }}</h4>
      </div>
      
      <div [ngSwitch]="activeRole">
        <p class="role" *ngSwitchCase="'1'">Band</p>
        <p class="role" *ngSwitchCase="'2'">Company</p>
        <p class="role" *ngSwitchCase="'3'">Contractor</p>
        <p class="role" *ngSwitchCase="'4'">Admin</p>
      </div>

      <mat-divider></mat-divider>
    </span>

    <button mat-button class="menu-button" *ngIf="!isLogged" (click)="navigateTo('/user/login')">
      <mat-icon class="material-icons-outlined">person</mat-icon>
      <a routerLink="/user/login">Login</a>
    </button>

    <button mat-button class="menu-button" *ngIf="!isLogged" (click)="navigateTo('/user/signup')">
      <mat-icon class="material-icons-outlined">how_to_reg</mat-icon>
      <a>Signup</a>
    </button>
  
    <button mat-button class="menu-button" *ngIf="isLogged && hasRole()" (click)="navigateTo('/home')">
      <mat-icon class="material-icons-outlined">home</mat-icon>
      <a>Home</a>
    </button>

    <button mat-button class="menu-button" *ngIf="isLogged && hasRole()" (click)="navigateByUrl('/profile')">
      <mat-icon class="material-icons-outlined">account_circle</mat-icon>
      <a>Profile</a>
    </button>

    <mat-divider *ngIf="isLogged && hasRole()"></mat-divider>

    <button mat-button class="menu-button" *ngIf="isLogged && hasRole()" (click)="navigateTo('/chat')">
      <mat-icon class="material-icons-outlined">message</mat-icon>
      <a>Messenger</a>
    </button>

    <button mat-button class="menu-button" *ngIf="isLogged && hasRole()" (click)="navigateTo('/explore')">
      <mat-icon class="material-icons-outlined">explore</mat-icon>
      <a>Explore</a>
    </button>

    <button mat-button class="menu-button" *ngIf="isLogged && hasRole()" (click)="navigateTo('/ad')">
      <mat-icon class="material-icons-outlined">storefront</mat-icon>
      <a>Market</a>
    </button>

    <button mat-button class="menu-button" *ngIf="isLogged" (click)="navigateTo('/role')">
      <mat-icon class="material-icons-outlined">category</mat-icon>
      <a>Role Manager</a>
    </button>

    <!-- <button mat-button class="menu-button" (click)="closeIfIsMobileView()">
      <mat-icon class="material-icons-outlined">search</mat-icon>
      <a routerLink="/ad">Search</a>
    </button> -->

    <mat-divider></mat-divider>
    
    <button mat-button class="menu-button" (click)="navigateTo('/about')">
      <mat-icon class="material-icons-outlined">info_outline</mat-icon>
      <a>About</a>
    </button>
    
    <button mat-button class="menu-button" (click)="navigateTo('/contact')">
      <mat-icon class="material-icons-outlined">call</mat-icon>
      <a>Contact</a>
    </button>

    <!-- <button mat-button class="menu-button" (click)="closeIfIsMobileView()">
      <mat-icon class="material-icons-outlined">help_outline</mat-icon>
      <a routerLink="/home">Help</a>
    </button> -->

    <mat-divider *ngIf="isLogged"></mat-divider>

    <button mat-button class="menu-button" *ngIf="isLogged" (click)="logout()">
      <mat-icon class="material-icons-outlined">logout</mat-icon>
      <a>Logout</a>
    </button>

    <mat-divider></mat-divider>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div class="sidenav-ctnr">
      <app-loader></app-loader>

      <router-outlet></router-outlet>
    </div>  
  </mat-sidenav-content>
</mat-sidenav-container>