mat-toolbar {
  background: #002b5c;
  background: #03365a;
  color: #fff;

  .toolbar-ctnr {
    display: flex;
    width: 1200px;
    margin: auto;
    padding: 0 1px;
    
    .title-ctnr {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      
      .title {
        display: flex;
        align-items: center;

        @media (min-width: 900px) {
          margin-left: 10px;
        }
        
        .logo {
          width: 30px;
          padding-right: 10px;
        }
      }
  
      button {
        margin-bottom: 3px;
      }
    }
    
    .links-ctnr {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50%;
      font-size: 16px;    
  
      .link {
        margin: 0 10px;
        cursor: pointer;

      }
    }
  }
}

mat-sidenav-container {
  background: #f5f7fa;
  max-width: 1200px;
  margin: auto;
  
  mat-sidenav {
    background: #002b5c;
    background: #03365a;

    color: #fff;
    width: 200px;
    padding: 16px;
    text-align: center;
    
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    .avatar {
      margin-top: 16px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .user {
      margin: 0;
      margin-top: 8px;
      font-weight: normal;
    }
  
    .role {        
      color: lightgrey;
    }
  
    mat-divider {
      background: rgba(255, 255, 255, 0.5);
      margin-top: 16px;
      margin-bottom: 16px;
    }
    
    .menu-button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      
      &:hover {
        background: #033050;
      }
      
      mat-icon {
        margin-right: 10px;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;        
      }
    }
  }

  mat-sidenav-content {
    .sidenav-ctnr {
      display: flex;
      flex-direction: column;
      align-items: center;

      height: calc(100vh - 65px);
      padding: 20px;
      border-right: 1px solid #dddfe2;
    }
  }
}