<article>
  <section class="top-ctnr">
    <div class=title>CONTACT US</div>
    
    <div class="subtitle">Let's connect</div>

    <div class="text">
      Our customer support and account management teams provide the best service in the industry. We're passionate about our products as well as our customers and it shows in the level of service that we provide. We're always happy to help find the solution for your needs. Is a solution doesn't already exist, we'll create a new solution that resolves your issue.
    </div>
  </section>

  <section class="bottom-ctnr">
    <div class="left_ctnr">
      <p>Send us a message</p>
      
      <app-contact-form
        [contactForm]=contactForm
      ></app-contact-form>

      <button mat-flat-button color="warn" class="warn" (click)="sendMessage()" [disabled]="contactForm.invalid">
        Contact
      </button>
    </div>

    <div class="right-ctnr">
      <div class="email align">
        <span class="icon"><i class="material-icons">email</i></span>
        <span class="text">musicnode@gmail.com</span>
      </div>

      <div class="phone align">
        <span class="icon"><i class="material-icons">smartphone</i></span>
        <span class="text">+34 695 123 456</span>
      </div>

      <div class="address align">
        <span class="icon"><i class="material-icons">location_on</i></span>
        <span class="text">123 Street Ln Musicnode Beach</span>
      </div>
    </div>
  </section>
<article>