.card {
  display: flex;
  flex-direction: column;

  border: 1px solid #dddfe2;
  border-radius: 8px;
  box-shadow: 0 1px 2px #ddd;

  max-width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  background: #fff;

  .card-header{
    display: flex;
    flex-direction: row;

    .left {
      img {
        width: 40px;
      }
      width: 50px;
      padding: 2.5px 5px;
      cursor: pointer;
    }

    .right {
      display: flex;
      flex-direction: column;
      padding: 2.5px 10px;

      .name {
        font-size: .875rem;
        font-weight: 500;
        margin-top: 1px;
        cursor: pointer;
      }

      .date {
        font-size: .75rem;
        color: #777;
        margin-top: 5px;
      }
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    padding: 2px 5px;

    .body {
      font-size: .875rem;
      padding-bottom: .1rem;
    }
  }
}

// mat-card {
//   box-shadow: none !important;
//   border: 1px solid #e5e7eb;
//   font-size: 16px;
//   margin-bottom: 1rem;

//   .title {
//     font-weight: 500;
//   }

//   .meta {
//     font-size: 10px;    
//   }

//   .description {
//     margin-top: 1rem;
//   }

//   .btn-ctnr {
//     margin-top: 1rem;

//     button {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       background: #f5f7fa;
//       box-shadow: none;
//     }
//   }
// }