<mat-card>
  <div class="title">{{ ad.title }}</div>
  <!-- <div class="meta">{{ ad.createdAt }}</div> -->
  <div class="meta">{{ ad.createdAt | date:'dd/MM/yyyy' }}</div>
  <div class="description">{{ ad.desc }}</div>

  <div class="btn-ctnr">
    <button 
      mat-icon-button
      mat-rised-button
      mat-fab
      aria-hidden="false"
      aria-label="Delete"
      title="Delete"
      (click)="deleteAd(ad.id)"
      *ngIf="userId===ad.userId"
    >
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </div>
</mat-card>