.card {
  display: flex;
  flex-direction: column;

  border: 1px solid #dddfe2;
  border-radius: 8px;
  box-shadow: 0 .4px 2px #b5b5b5;

  max-width: 43.75rem;
  padding: 1rem .5rem 1rem 1rem;
  margin-bottom: 1.5rem;
  background: #fff;

  .card-header{
    display: flex;
    flex-direction: row;

    .left {
      img {
        width: 40px;
        border-radius: 50px;
      }

      width: 50px;
      padding: 2.5px 5px;
      cursor: pointer;
    }

    .right {
      display: flex;
      flex-direction: column;
      padding: 2.5px 10px;

      .name {
        font-size: .875rem;
        font-weight: 500;
        margin-top: 1px;
        cursor: pointer;
      }

      .date {
        font-size: .75rem;
        color: #777;
        margin-top: 5px;
      }
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    padding: 2px 5px;

    .title {
      font-size: 1rem;
      font-weight: 500;
      padding-bottom: 2.5px;
    }

    .price-location {
      font-size: .75rem;
      font-weight: 100;
      padding-bottom: 5px;
    }

    .body {
      font-size: .875rem;
      padding-bottom: .1rem;
    }
  }

  .btn-cntr {
    margin: 10px 2px 2px 2px;

    button {
      width: 100px;
      background: #eeaa24;
      
      &:hover {
        background: #eeab24ee;
      }
    }
  }
}