<div class="main-ctnr">
  <div class="toolbar-ctnr">
    <div class="left-ctnr">
      <div class="search-ctnr">
        <mat-icon class="search-icon">search_outline</mat-icon>
        <!-- <input placeholder="Search ..."> -->
      </div>
    </div>
    
    <div class="right-ctnr">
      <div>
        <mat-icon>add</mat-icon>
      </div>
  
      <div>
        <mat-icon matBadge="4" matBadgeColor="primary" matBadgeOverlap="false" matBadgePosition="above after">
          forum
        </mat-icon>
      </div>
  
      <div>
        <mat-icon matBadge="3" matBadgeColor="warn" matBadgeOverlap="false">
          notifications
        </mat-icon>
      </div>
  
      <div>
        <!-- <mat-icon [matMenuTriggerFor]="expand_more">menu</mat-icon> -->
        <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
  
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
          <!-- <button mat-menu-item (click)="logout()"> -->
            <mat-icon>exit_to_app</mat-icon> 
            <span>Logout &nbsp;&nbsp;&nbsp;</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>

  <div class="cards-ctnr">
    <div class="cards">    
      <mat-card class="card-img" *ngFor="let band of bandsList">
        <img class="bg" alt="bg" src="{{ band.img }}">

        <mat-card-content>
          <img class="avatar" alt="avatar" src="{{ band.avatar }}" width="50px">
          <span class="card-name">{{ band.name }}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="bands-ctnr">
    <h1>TO DO</h1>
  </div>
</div>
    
