@import 'src/styles';

article {
  padding: 30px 30px 0 30px;
  color: #333;

  @media (max-width: 800px) {
    padding: 30px 10px 10px 10px;
  }

  header {
    .title {
      font-size: 1.25rem;
      font-weight: 500;
    }

    .subtitle {
      font-size: 2.5rem;
      font-weight: 700;
      color: #eeaa24;

      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
    }
  }

  .top-bands {
    display: flex;
    flex-direction: column;
    
    margin-top: 1.875rem;
    
    .top-bands-ctnr {
      flex: 1;
      
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 10px;

      mat-card {
        box-shadow: none;

        width: 150px;
        height: 200px;
        position: relative;
        border-radius: 8px;
        
        &:hover {
          img.bg {
            transform: scale(1.06);
          }
        }

        .background {
          position: absolute;
          top: 0;
          left: 0;

          max-width: 100%;
          object-fit: cover;
          height: 100%;

          border-radius: 8px;
          transition: all 0.3s ease;
          cursor: pointer;
        }

        .avatar {
          position: absolute;
          top: 10px;
          right: 10px;

          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      
        .name {
          position: absolute;
          bottom: 10px;
          left: 5px;
          padding: 5px;
          
          font-size: 1rem;
          font-weight: 500;
          color: white;
        }
      }
    }
  }

  .bands {
    display: flex;
    flex-direction: column;
    
    .bands-ctnr {
      flex: 1;
      margin: 15px 0;
      
      mat-card {
        display: flex;
        flex-direction: row;
        gap: 20px;

        box-shadow: none;
        margin: 20px 0;
        border: 1px solid #dddfe2;
        
        // border-radius: 8px;
        // padding: 1rem;
        // margin-bottom: 1.5rem;
        // background: #fff;
    
        .img-ctnr {
          width: 50%;

          img {
            flex: 1;

            border-radius: 8px;
            width: 100%;
          }
        }
        
        .band-info {
          width: 50%;

          .name {
            margin-top: 0;
            font-size: 1.5rem;
            font-weight: 500;
          }

          .rating {
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;

            .rate {
              font-size: 1rem;
              font-weight: 500;
              margin-right: 5px;
            }

            .scope {
              font-size: 1rem;
              font-weight: 100;
            }

            i {
              color: #eeaa24;
            }
          }

          .description {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            margin-top: 15px;
            font-size: .875rem;
            line-height: 1.5rem;
          }

          .budget {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
            margin-top: 15px;
            font-size: .875rem;
            line-height: 1.5rem;
          }

          .request-budget {
            margin-top: 15px;
          }
        }
      }
    }
  }

}

// .main-ctnr {
//   display: flex;
//   flex-direction: column;
//   position: relative;

//   .cards-ctnr {
//     display: flex;
//     flex-direction: column;

//     .cards {
//       flex: 1;
      
//       display: flex;
//       justify-content: space-around;
//       align-items: center;
//       gap: 10px;

//       .card-img {
//         width: 150px;
//         height: 200px;
//         border-radius: 20px;
//         position: relative;
//         z-index: 0;

//         &:hover {
//           img.bg {
//             transform: scale(1.06);
//           }
//         }
      
//         span {
//           font-size: 15px;
//           line-height: 1.2;
//           position: absolute;
//           bottom: 10px;
//           left: 5px;
//           color: white;
//           font-weight: 600;
//           padding: 5px;
//         }

//         img.bg {
//           max-width: 100%;
//           object-fit: cover;
//           height: 100%;
//           position: absolute;
//           top: 0;
//           left: 0;
//           border-radius: 20px;
//           transition: all 0.3s ease;
//           cursor: pointer;
//         }

//         img.avatar {
//           width: 40px;
//           height: 40px;
//           border-radius: 50%;
//           color: white;
//           z-index: 99;
//           position: absolute;
//           top: 10px;
//           left: 10px;
//         }
//       }
//     }
//   }



// .toolbar-ctnr {
//   z-index: 1000;
//   display: flex;
//   align-items: center;
//   border: 1px solid $lightgray2;
//   margin-bottom: 20px;
  
//   .left-ctnr {
//     flex: 0.5;

//     display: flex;
//     margin-left: 10px;
//     align-items: center;
//     gap: 10px;
    
//     height: 100%;

//     .search-ctnr {
//       border-radius: 50px;
//       background: #eee;

//       width: 40px;
//       height: 40px;
//       cursor: pointer;

//       display: flex;
//       align-items: center;
//       justify-content: center;

//       input {
//         outline: none;
//         border: 1px solid lightgray;
//         padding: 10px 40px;
//         border-radius: 20px;
//       }
//     }
//   }

//   .right-ctnr {
//     flex: .5;

//     display: flex;
//     margin-right: 10px;
//     align-items: center;
//     justify-content: flex-end;
//     gap: 10px;
    
//     height: 100%;
//     padding: 15px;

//     // wildcard selector
//     > * {
//       // border: 1px solid $lightgray2;
//       border-radius: 50px;
//       background: #eee;

//       width: 40px;
//       height: 40px;
//       cursor: pointer;
//       margin-right: 10px;
//       padding: 5px;

//       display: flex;
//       align-items: center;
//       justify-content: center;
//     }
//   }
// }