<article>
  <section class="top-ctnr">
    <div class=title>HOME</div>
    
    <div class="subtitle">Request a budget</div>

    <div class="text">
      In this section you will get a list of all the bands subscribed to Musicnode. If you want to know more details, click on one of the bands to go to its profile, and if you need a personalized budget for your event, contact with the band specifying all the details.
    </div>
  </section>

  <div class="highlighted-bands-ctnr">
    <div class="highlighted-bands">
      <mat-card class="card-img" *ngFor="let band of topBandsList">
        <img class="bg" alt="bg" src="{{ band?.img }}">

        <mat-card-content>
          <img class="avatar" alt="avatar" src="{{ band?.avatar }}" width="50px">
          <span class="card-name">{{ band?.name }}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</article>

<!-- <div class="main-ctnr"> -->
  <!-- <div class="toolbar-ctnr">
    <div class="left-ctnr">
      <div class="search-ctnr">
        <mat-icon class="search-icon">search_outline</mat-icon>
      </div>
    </div>
    
    <div class="right-ctnr">
      <div>
        <mat-icon>add</mat-icon>
      </div>
  
      <div>
        <mat-icon matBadge="4" matBadgeColor="primary" matBadgeOverlap="false" matBadgePosition="above after">
          forum
        </mat-icon>
      </div>
  
      <div>
        <mat-icon matBadge="3" matBadgeColor="warn" matBadgeOverlap="false">
          notifications
        </mat-icon>
      </div>
  
      <div>
        <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
  
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> 
            <span>Logout &nbsp;&nbsp;&nbsp;</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div> -->

  <!-- <div class="bands-ctnr">
    <div class="bands">
      <div class="card" *ngFor="let band of bandsList">
        <img class="band-portrait" alt="band" src="{{ band.images[0].image }}" width="500px">
      </div>
    </div>
  </div> -->
<!-- </div> -->
    
