<article>
  <header>
    <div class=title>HOME</div>
    
    <div class="subtitle">Let's glance</div>

    <div class="text">
      In this section you will get a list of all the bands subscribed to Musicnode. If you want to know more details, click on one of the bands to go to its profile, and if you need a personalized budget for your event, contact with the band specifying all the details.
    </div>
  </header>

  <section class="top-bands">
    <div class="top-bands-ctnr">
      <mat-card *ngFor="let band of topBandsList; let i = index" [ngClass]="isMobileView && i > 2 ? 'hidden' : 'none'">
        <img class="background" alt="bg" src="{{ band?.img }}" (click)="goToBandProfile(band.id)">

        <mat-card-content>
          <img class="avatar" alt="avatar" src="{{ band?.avatar }}" width="50px">
          <span class="name">{{ band?.name }}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </section>

  <div class="bands">
    <div class="bands-ctnr">
      <mat-card *ngFor="let band of bandsList">
        <div class="img-ctnr" (click)="goToBandProfile(band.id)">
          <img alt="{{ band?.name }}" src="{{ band?.images[0]?.image }}" width="500px" *ngIf="band?.images[0]">
          <img alt="{{ band?.name }}" src="assets/img/no-image.png" width="500px" *ngIf="!band?.images[0]">
        </div>

        <div class="band-info">
          <h1 class="name">{{ band?.name }}</h1>
          
          <div class="rating">
            <i class="material-icons">star</i>
            <!-- number:'1.0-3' =>  min integers number | min digits number | max digits number -->
            <span class="rate">{{ band?.rating | number:'1.1-1' }}</span>
            <span class="scope">({{ band?.reviews.length }}) · {{ band?.scope }}</span>
          </div>

          <div class="description">
            {{ band?.desc }}
          </div>

          <div class="budget">
            From {{ band?.price }}€
          </div>

          <button mat-flat-button color="warn" class="warn request-budget" (click)="openBudgetDialog(band)">
            Request Budget
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</article>    
