<article>
  <section class="top_ctr">
    <div class="title">musicnode</div>
    <div class="text">Professional business drive network for musicians and music events management companies or free market contractors.</div>
    <div class="subtitle" *ngIf="signupStep === 1">Signup step 1: user data</div>
    <div class="subtitle" *ngIf="signupStep === 2">Signup step 2: band data</div>
  </section>

  <section class="bottom_ctr">
    <div class="card">
      <div class="card-content">
        <app-singup-form
          [signupForm]=signupForm
          [signupFormError]=signupFormError
          *ngIf="signupStep === 1"
        ></app-singup-form>

        <!-- [disabled]="loginForm.invalid" -->
        <button (click)="goToStep2()" title="Next" *ngIf="signupStep === 1">
          Next
        </button>

        <app-band-form
          [bandForm]=bandForm
          [bandFormError]=bandFormError
          *ngIf="signupStep === 2 && signupForm.value.roleId === 1"
        ></app-band-form>

        <button (click)="signup()" title="Signup (Step 2)" *ngIf="signupStep === 2 && signupForm.value.roleId === 1">
          Signup
        </button>

        <button (click)="goToStep1()" title="Go Back" *ngIf="signupStep === 2">
          Go Back
        </button>
      </div>
    </div>
  
    <p class="tagline">
      <span>Login or create an account to access all the platform features.</span>
    </p>    
  </section>
</article>