@import 'src/styles';

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  section {
    display: flex;
    flex-direction: column;
    
    &.top_ctr {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .title {
        margin-top: 50px;
        font-size: 62px;
        font-weight: bold;
        color: $primary;
      }

      .text {
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  
    &.bottom_ctr {
      width: 100%;
      margin-top: 20px;
      
      .card {        
        max-width: 100%;
        padding: 10px;
        margin-bottom: 30px;
        border: 1px solid #dddfe2;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 
                    0 8px 16px rgb(0 0 0 / 10%);
        background: #fff;

        @media (min-width: 900px) {
          margin-right: 20px;
        }
  
        .card-content {
          display: flex;
          flex-direction: column;
          padding: 5px;
  
          form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .row {
              display: flex;
              align-items: center;
              gap: 10px;
              width: 100%;
              margin-bottom: 10px;
              
              input, 
              select {
                flex: 1;
                font-size: 16px;
                padding: 14px 16px;
                border: 1px solid #dddfe2;
                border-radius: 5px;
                outline: none;
              }

              .option {
                padding: 20px;
                line-height: 35px;
              }
            }
          }

          .login-btn {
            padding: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
            outline: none;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            background: $primary;
            color: #fff;
          }
        }
  
        a {
          text-decoration: none;
          text-align: center;
          border-bottom: 1px solid $lightgray2;
          margin-bottom: 20px;
          padding-bottom: 20px;
          cursor: pointer;
          color: $primary;
        }
      }
  
      .tagline {
        text-align: center;
      }
    }
  }
}

// @import "src/styles";

// .signup {
//   padding: 0;
// }

// .header {
//   border-bottom: 1px solid $lightgray2;
//   width: 100vw;

//   h3 {
//     font-size: 32px;
//     font-weight: bold;
//   }
// }

// .body {
//   margin-top: 20px;

//   form {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 100vh;
//   }

//   .row1 {
//     display: flex;
//     align-items: center;
//     gap: 10px;
//     width: 100%;

//     input {
//       flex: 1;
//       outline: none;
//       border: 1px solid lightgray;
//       border-radius: 8px;
//       padding: 10px;
//       background-color: #F5F6F7;
//     }
//   }

//   .row2 {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     margin-top: 10px;

//     input {
//       flex: 1;
//       outline: none;
//       border: 1px solid lightgray;
//       border-radius: 8px;
//       padding: 10px;
//       background-color: #F5F6F7;
//     }
//   }

//   p {
//     font-size: 11px;
//     margin-top: 20px;
//     color: #777777;
//   }

//   .create-account-btn {
//     padding: 10px 18px;
//     background-color: #00A400;
//     font-weight: bold;
//     text-align: center;
//     display: inline-block;
//     width:200px;
//     align-self: center;
//     outline:none;
//     border:none;
//     border-radius: 10px;
//     color:white;
//     font-size: 16px;
//     letter-spacing: 1.1px;
//     cursor: pointer;
//   }
// }
// // .btn-ctnr {
// //   background: #fff;
// //   margin: auto;
// //   border-bottom-left-radius: 10px;
// //   border-bottom-right-radius: 10px;
// //   padding: 0 20px 20px 20px;

// //   display: flex;
// //   justify-content: flex-end;
// //   align-items: flex-end;
// // }