<article>
  <section class="header">
    <div class=title>EXPLORE</div>

    <div class="subtitle">Find people</div>
    
    <div class="text">
      In this section you can search for bands, companies, contractors, administrators and any user platform. Once you find who you are looking for, you can click on the user to go to his profile or chat with him by clicking on contact button.
    </div>
  </section>

  <!-- SEARCH FIELDS -->
  <section class="search">
    <div class="card">
      <app-search-form
        [searchForm]=searchForm
        [roleDDL]=roleDDL
      ></app-search-form>

      <button mat-flat-button class="primary" (click)="search()">
        Search
      </button>
    </div>
  </section>

  <!-- SEARCH RESULT: USERS (ALL, CONTRACTORS AND ADMINS) -->
  <section class="results" *ngIf="searchResults.length > 0 && (+searchForm.value.roleId !== 1 && +searchForm.value.roleId !== 2)">
    <div class="user-cntr" *ngFor="let user of searchResults">
      <div class="user" (click)="goToProfile('user', user.id)">
        <img class="avatar" [src]="user?.avatar" alt="{{ user?.name }}">

        <div class="user-info">
          <span class="name">{{ user?.name }} {{ user?.surname }}</span>
          <span class="email">{{ user?.email }}</span>
        </div>
      </div>
      
      <div class="btn-ctnr">
        <button mat-flat-button color="warn" class="warn" [disabled]="currentUser.id === user.id" (click)="sendMessage(user.id)">
          Contact
        </button>
      </div>
    </div>
  </section>

  <!-- SEARCH RESULT: BANDS -->
  <section class="results" *ngIf="searchResults.length > 0 && +searchForm.value.roleId === 1">
    <div class="user-cntr" *ngFor="let band of searchResults">
      <div class="user" (click)="goToProfile('band', band.id)">
        <img class="avatar" [src]="band?.avatar" alt="{{ band?.name }}">

        <div class="user-info">
          <span class="name">{{ band?.name }}</span>
          <span class="email">{{ band?.email }}</span>
        </div>
      </div>
      
      <div class="btn-ctnr">
        <button mat-flat-button color="warn" class="warn" (click)="sendMessage(band.users[0].id)">
          Contact
        </button>
      </div>
    </div>
  </section>

  <!-- SEARCH RESULT: COMPANIES -->
  <section class="results" *ngIf="searchResults.length > 0 && +searchForm.value.roleId === 2">
    <div class="user-cntr" *ngFor="let company of searchResults">
      <div class="user" (click)="goToProfile('company', company.id)">
        <img class="avatar" [src]="company?.avatar" alt="{{ company?.name }}">

        <div class="user-info">
          <span class="name">{{ company?.name }}</span>
          <span class="email">{{ company?.email }}</span>
        </div>
      </div>
      
      <div class="btn-ctnr">
        <button mat-flat-button color="warn" class="warn" (click)="sendMessage(company.users[0].id)">
          Contact
        </button>
      </div>
    </div>
  </section>
</article>