<article>
  <section class="header">
    <div class=title>EXPLORE</div>

    <div class="subtitle">Find people</div>
    
    <div class="text">
      In this section you can search for musicians, bands, companies, contractors, administrators and any user platform. Once you find who you are looking for, you can click on the user to go to his profile or chat with him by clicking on contact button.
    </div>
  </section>

  <!-- SEARCH -->
  <section class="filter" *ngIf="usersList.length > 0">
    <div class="card">
      <form [formGroup]="roleForm" novalidate>
        <mat-form-field appearance="outline" class="input-headline role">
          <mat-label>Role</mat-label>
          <mat-select formControlName="roleId">
            <mat-option *ngFor="let item of roleSelect" value="{{ item.id }}">{{ item.value }}</mat-option>
          </mat-select>
          <button mat-icon-button matSuffix [attr.aria-label]="'Role'" disabled>
            <mat-icon>category</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
  </section>

  <!-- USERS -->
  <section class="users-list" *ngIf="usersList.length > 0 && +roleForm.value.roleId === 1">
    <div class="user-cntr" *ngFor="let user of usersList">
      <div class="user" (click)="goToProfile('user', user.id)">
        <img class="avatar" [src]="user?.avatar" alt="{{ user?.name }}">

        <div class="user-info">
          <span class="name">{{ user?.name }} {{ user?.surname }}</span>
          <span class="email">{{ user?.email }}</span>
        </div>
      </div>
      
      <div class="btn-ctnr">
        <button mat-flat-button color="warn" class="warn" [disabled]="currentUser.id === user.id" (click)="sendMessage(user.id)">
          Contact
        </button>
      </div>
    </div>
  </section>

  <!-- MUSICIANS -->
  <section class="users-list" *ngIf="musiciansList.length > 0 && +roleForm.value.roleId === 2">
    <div class="user-cntr" *ngFor="let musician of musiciansList">
      <div class="user" (click)="goToUserProfile(musician.id)">
        <img class="avatar" [src]="musician?.avatar" alt="{{ musician?.name }}">

        <div class="user-info">
          <span class="name">{{ musician?.name }} {{ musician?.surname }}</span>
          <span class="email">{{ musician?.email }}</span>
        </div>
      </div>
      
      <div class="btn-ctnr">
        <button mat-flat-button color="warn" class="warn" [disabled]="currentUser.id === musician.id" (click)="sendMessage(musician.id)">
          Contact
        </button>
      </div>
    </div>
  </section>

  <!-- BANDS -->
  <section class="users-list" *ngIf="bandsList.length > 0 && +roleForm.value.roleId === 3">
    <div class="user-cntr" *ngFor="let band of bandsList">
      <div class="user" (click)="goToProfile('band', band.id)">
        <img class="avatar" [src]="band?.avatar" alt="{{ band?.name }}">

        <div class="user-info">
          <span class="name">{{ band?.name }}</span>
          <span class="email">{{ band?.email }}</span>
        </div>
      </div>
      
      <div class="btn-ctnr">
        <button mat-flat-button color="warn" class="warn" (click)="sendMessage(band.users[0].id)">
          Contact
        </button>
      </div>
    </div>
  </section>

  <!-- COMPANIES -->
  <section class="users-list" *ngIf="companiesList.length > 0 && +roleForm.value.roleId === 4">
    <div class="user-cntr" *ngFor="let company of companiesList">
      <div class="user">
        <img class="avatar" [src]="company?.avatar" alt="{{ company?.name }}">

        <div class="user-info">
          <span class="name">{{ company?.name }}</span>
          <span class="email">{{ company?.email }}</span>
        </div>
      </div>
      
      <div class="btn-ctnr">
        <button mat-flat-button color="warn" class="warn">
          Contact
        </button>
      </div>
    </div>
  </section>

  <!-- CONTRACTORS -->
  <section class="users-list" *ngIf="contractorsList.length > 0 && +roleForm.value.roleId === 5">
    <div class="user-cntr" *ngFor="let contractor of contractorsList">
      <div class="user" (click)="goToUserProfile(contractor.id)">
        <img class="avatar" [src]="contractor?.avatar" alt="{{ contractor?.name }}">

        <div class="user-info">
          <span class="name">{{ contractor?.name }} {{ contractor?.surname }}</span>
          <span class="email">{{ contractor?.email }}</span>
        </div>
      </div>
      
      <div class="btn-ctnr">
        <button mat-flat-button color="warn" class="warn" [disabled]="currentUser.id === contractor.id" (click)="sendMessage(contractor.id)">
          Contact
        </button>
      </div>
    </div>
  </section>

  <!-- ADMINS -->
  <section class="users-list" *ngIf="adminsList.length > 0 && +roleForm.value.roleId === 6">
    <div class="user-cntr" *ngFor="let admin of adminsList">
      <div class="user" (click)="goToUserProfile(admin.id)">
        <img class="avatar" [src]="admin?.avatar" alt="{{ admin?.name }}">

        <div class="user-info">
          <span class="name">{{ admin?.name }} {{ admin?.surname }}</span>
          <span class="email">{{ admin?.email }}</span>
        </div>
      </div>
      
      <div class="btn-ctnr">
        <button mat-flat-button color="warn" class="warn" [disabled]="currentUser.id === admin.id" (click)="sendMessage(admin.id)">
          Contact
        </button>
      </div>
    </div>
  </section>
</article>


