<!-- Bem Naming Convention: -->
<!-- Source: http://getbem.com/naming/ -->

<article>
  <section class="top_ctr">
    <div class="title">
      musicnode
    </div>

    <div class="text">
      <h1>Professional business drive network for musicians and music events management companies or free market contractors.</h1>
    </div>
  </section>

  <section class="bottom_ctr">
    <div class="card">
      <div class="card-content">
        <app-login-form 
          [loginForm]=loginForm
          [loginError]=loginError
        ></app-login-form>

        <!-- [disabled]="loginForm.invalid" -->
        <button class="login-btn" (click)="login()" title="Log In">
          Log In
        </button>
      </div>
    </div>

    <p class="tagline">
      <span>Login or create an account to access all the platform features.</span>
    </p>    
  </section>
</article>