@import 'src/styles';

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  section {
    display: flex;
    flex-direction: column;
    
    &.top_ctr {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .title {
        margin-top: 50px;
        font-size: 62px;
        font-weight: bold;
        color: #014fa7;
      }

      .text {
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  
    &.bottom_ctr {
      width: 100%;
      margin-top: 20px;
      
      .card {
        max-width: 100%;
        padding: 10px;
        margin-bottom: 30px;
        border: 1px solid #dddfe2;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        background: #fff;
  
        .card-content {
          display: flex;
          flex-direction: column;
          padding: 5px;
  
          button {
            width: 100%;
            margin-top: 8px;
            padding: 8px;
          }
        }
      }
  
      .tagline {
        text-align: center;
      }
    }
  }
}