@import 'src/styles';

.main-ctnr {
  @media (max-width: 950px) {
    margin: auto;
    width: 98%;
  }

  button {
    width: 100vw;
    max-width: 700px;

    font-size: 1rem;
    font-weight: 500;
    padding: .4rem;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    
    background: $primary;
    color: #fff;

    @media (max-width: 950px) {
      width: 100%;
    }
  }
}