<article>
  <section class="header">
    <div class=title>USER PROFILE</div>
    
    <div class="subtitle">Let's get info</div>

    <div class="text">
      In this section you can manage your personal information and your roles. You can also search in others users profiles to obtain information and get in touch with them.
    </div>
  </section>

  <!-- AVATAR -->
  <section class="user-ctnr">
    <!-- if the form is initialized, generate the template -->
    <form [formGroup]="userForm" class="userForm" *ngIf="userForm">
      <div class="avatar">
        <input type="file" id="file" name="file" (change)="onAvatarSelected($event)" *ngIf="isMyProfile() || isAdmin()" />

        <label for="file">
          <img [src]="imageData" [alt]="profileUser?.name" [ngClass]="isMyProfile() || isAdmin() ? 'pointer' : 'normal'">
        </label>
      </div>

      <div class="user-data">
        <div class="name">{{ profileUser?.name }} {{ profileUser?.surname }}</div>
        <div class="email">{{ profileUser?.email }}</div>
        <div class="phone">{{ profileUser?.phone }}</div>

        <div class="btn-ctnr">
          <!-- button type="button" to avoid form submission -->
          <button type="button" mat-flat-button color="warn" class="warn" *ngIf="!isMyProfile()" (click)="sendMessage(profileUser?.id)">
            Message
          </button>

          <!-- button type="button" to avoid form submission -->
          <button type="button" mat-flat-button color="warn" class="warn" *ngIf="isMyProfile()" (click)="goToEditProfile()">
            Edit
          </button>

          <div class="separator" *ngIf="!isMyProfile() && isAdmin()"></div>

          <!-- button type="button" to avoid form submission -->
          <button type="button" mat-flat-button color="primary" *ngIf="!isMyProfile() && isAdmin()" (click)="goToEditProfile()">
            Edit
          </button>
        </div>
      </div>
    </form>

    <div class="btn-ctnr">
      <button mat-flat-button color="warn" class="warn" (click)="updateAvatar()" *ngIf="isMyProfile() && this.avatarSelected">
        Update Avatar
      </button>
    </div>
  </section>

  <section class="role-ctnr">
    <h1>Roles List:</h1>
    
    <div [ngSwitch]="profileUser?.activeRole" class="active-role">
      <p class="band" *ngSwitchCase="'1'">
        <span *ngFor="let band of bandsList">
          <p class="item">- This user belongs to <span class="bold">{{ band?.band?.name }}</span></p>
        </span>
      </p>

      <p class="user" *ngSwitchCase="'2'">This user belongs to a company</p>
      <p class="user" *ngSwitchCase="'3'">This user is an independent contractor</p>
      <p class="user" *ngSwitchCase="'4'">This user is an administrator</p>
    </div>
    <!-- TO DO: SHOW USER ROLES -->
  </section>
</article>
