.dialog {
  padding: 15px 15px 5px 15px;

  .header {
    font-size: 26px;
    font-weight: 500;
  }
  
  .content {
    padding: 5px 0 8px 0;

    .param {
      font-weight: 500;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    padding: 0;

    button {
      width: 100px;
    }
  }
}
  